DISTOPIA_APP_URL=http://localhost:3000
DISTOPIA_DB_PATH=./data/distopia.db
DISTOPIA_UPLOAD_DIR=./data/cdn
DISTOPIA_MAX_UPLOAD_BYTES=8388608
DISTOPIA_MAX_IMAGE_UPLOAD_BYTES=8388608
DISTOPIA_MAX_ZIP_UPLOAD_BYTES=8388608
DISTOPIA_COOKIE_NAME=distopia_session
DISTOPIA_SECURE_COOKIES=false
